#sidebar-content {
  padding-right: 1rem;
  --rounded-xl: var(--rounded-2xl);
}
#sidebar [alt='light logo'],
#sidebar [alt='dark logo'],
#navbar [alt='light logo'],
#navbar [alt='dark logo'] {
  height: 1.375rem;
  padding-top: 0.025em;
}
