#sidebar,
#sidebar .bg-background-light {
  background-color: rgb(var(--gray-50));
}
.dark #sidebar,
.dark #sidebar .bg-background-light {
  background-color: rgb(var(--gray-900));
}
#sidebar [alt='light logo'],
#sidebar [alt='dark logo'],
#navbar [alt='light logo'],
#navbar [alt='dark logo'] {
  height: 1.375rem;
}
#search-bar-entry {
  background-color: rgb(var(--background-light));
}
.dark #search-bar-entry {
  background-color: rgb(var(--background-dark));
}
#sidebar ul li svg:not(.lucide):first-child {
  background-color: rgba(var(--gray-500) / 0.88);
}
.dark #sidebar ul li svg:not(.lucide):first-child {
  background-color: rgba(var(--gray-500) / 0.75);
}
