:root {
  --primary: 23 23 22;
  --gray-50: 248 247 246;
  --gray-100: 245 244 242;
  --gray-200: 233 232 230;
  --gray-300: 221 220 219;
  --gray-400: 187 186 185;
  --gray-500: 120 120 120;
  --gray-600: 83 83 82;
  --gray-700: 57 57 56;
  --gray-800: 39 39 38;
  --gray-900: 23 23 22;
  --gray-950: 23 23 22;
  --rounded-2xl: 0.5rem;
  --rounded-xl: var(--rounded-2xl);
}
.dark {
  --primary: 23 23 22;
  --gray-50: 248 247 246;
  --gray-100: 245 244 242;
  --gray-200: 233 232 230;
  --gray-300: 221 220 219;
  --gray-400: 187 186 185;
  --gray-500: 161 161 160;
  --gray-600: 83 83 82;
  --gray-700: 57 57 56;
  --gray-800: 39 39 38;
  --gray-900: 23 23 22;
  --gray-950: 23 23 22;
}
